<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MainController</filter-name>
        <filter-class>com.mh.controller.MainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.mh.user.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.mh.user.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>com.mh.user.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.mh.user.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>com.mh.cake.controller.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCakeShopController</servlet-name>
        <servlet-class>com.mh.cake.controller.ViewCakeShopController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>com.mh.cart.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProceedCheckoutController</servlet-name>
        <servlet-class>com.mh.cart.controller.ProceedCheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>com.mh.cart.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>com.mh.cart.controller.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.mh.cart.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create_cake_page</servlet-name>
        <servlet-class>create_cake_page</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>com.mh.cake.controller.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackingOrderController</servlet-name>
        <servlet-class>com.mh.order.controller.TrackingOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <servlet-class>com.mh.order.controller.ViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCakeDetailController</servlet-name>
        <servlet-class>com.mh.cake.controller.ViewCakeDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCakeShopController</servlet-name>
        <url-pattern>/ViewCakeShopController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProceedCheckoutController</servlet-name>
        <url-pattern>/ProceedCheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create_cake_page</servlet-name>
        <url-pattern>/create_cake_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackingOrderController</servlet-name>
        <url-pattern>/TrackingOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <url-pattern>/ViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCakeDetailController</servlet-name>
        <url-pattern>/ViewCakeDetailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>shop.jsp</welcome-file>
    </welcome-file-list>
</web-app>
