<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>MainController</filter-name>
        <filter-class>com.mh.controller.MainController</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainController</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.mh.user.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.mh.user.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>com.mh.user.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.mh.user.controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>com.mh.cake.controller.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCakeShopController</servlet-name>
        <servlet-class>com.mh.cake.controller.ViewCakeShopController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCakeShopController</servlet-name>
        <url-pattern>/ViewCakeShopController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>shop.jsp</welcome-file>
    </welcome-file-list>
</web-app>
